body {
  margin: 0;
  font-family: "Goldman", cursive, sans-serif;
  background-color: #05113c;
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

li {
  display: flex;
  animation: fadeIn 2s ease-in-out;
  align-items: center;
}

li a {
  text-decoration: none;
}

.items {
  display: flex;
  padding: 0;
}

.name {
  text-decoration: none;
  color: #fff;
  margin: 0;
}

.portfolio {
  display: block;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
